<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Design Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Adjust Display
    </ion-list-header>

    <ion-item>
      <ion-range value="20">
        <ion-icon slot="start" size="small" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-range min="-200" max="200" pin color="secondary">
        <ion-icon slot="start" size="small" name="contrast"></ion-icon>
        <ion-icon slot="end" name="contrast"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-range id="dual-range" dual-knobs pin color="dark">
        <ion-icon slot="start" size="small" name="brush"></ion-icon>
        <ion-icon slot="end" name="brush"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-range min="1000" max="2000" step="100" value="1400" snaps color="danger">
        <ion-icon slot="start" size="small" color="danger" name="thermometer"></ion-icon>
        <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  <section>
    <ion-list>
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label>Name</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Biff</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Griff</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </section>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Location"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Ends</ion-label>
      <ion-datetime value="1990-02-20" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-datetime placeholder="Never" disabled></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Travel Time</ion-label>
      <ion-datetime placeholder="None" disabled></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-datetime placeholder="None" disabled></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
